<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [%X{correlationId}] %c: %m%n" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile"
                     fileName="${sys:mule.home}/logs/agentdemo.log"
                     filePattern="${sys:mule.home}/logs/agentdemo-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%-5p %d [%t] [%X{correlationId}] %c: %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application-specific logger -->
        <AsyncLogger name="com.mycompany.agentdemo" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </AsyncLogger>

        <!-- MuleSoft core loggers -->
        <AsyncLogger name="org.mule" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </AsyncLogger>
        <AsyncLogger name="com.mulesoft" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </AsyncLogger>

        <!-- HTTP connector - reduce noise -->
        <AsyncLogger name="org.mule.extension.http" level="WARN" additivity="false">
            <AppenderRef ref="Console" />
        </AsyncLogger>

        <!-- APIKit -->
        <AsyncLogger name="org.mule.module.apikit" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </AsyncLogger>

        <!-- Root logger -->
        <AsyncRoot level="WARN">
            <AppenderRef ref="Console" />
        </AsyncRoot>
    </Loggers>

</Configuration>